* {
	padding: 0;
	margin: 0;
	font-family: 'HelveticaNeue-Light', Arial;
	text-decoration: none;
	list-style: none;
}

body {
	background-color: #efefef;
}

@import 'header';
@import 'index';
@import 'book';